@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.font{
font-size: 56px;
color: rgba(2, 181, 137, 1)  ;
font-family: 'Lobster', cursive;
}
.rows{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 20%;
}
.fontsa{
    font-size:16px ;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(69, 69, 69);
}
.Boginoo{
    width: 184px;
    height: 140px;
}
.bgcg{
    color: rgba(2, 181, 137, 1)  ;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}
.greeen{
        color: rgba(2, 181, 137, 1)  ;
        font-family: 'Ubuntu', sans-serif;
}
.column{
    display: flex;
    flex-direction: column; 

}
.email{
    background-color: #F0F0F0;
    width: 381px;
    height: 44px;
    top: 456px;
    font-family: 'Ubuntu', sans-serif;
    left: 529px;
    border-radius: 100px;
    padding: 5px;
}  
.saaral {
   background-color:  rgba(255, 255, 255, 1);
    width: 381px;
    height: 44px;
    top: 456px;
    left: 529px;
    border-radius: 100px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid gray;
}
.fontn{
    font-family: 'Gowun Batang', serif;
}
.durv{
    width: 20px;
    height: 20px;
    border: rgba(2, 181, 137, 1) 1px solid;
    border-radius: 4px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.b100{
    height: 100vw;
}
.space{
    display: flex;
    justify-content: space-around;
    height: 700px;
}
.bgcgw{
    color: white;
    font-size: 20px;
    background-color: rgba(2, 181, 137, 1);
    border-radius: 100px;
    height: 43px;
    width: 383px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.wbgcgw{
    color: white;
    font-size: 20px;
    background-color: rgba(2, 181, 137, 1);
    border-radius: 100px;
    height: 44px;
    width: 192px;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    border:1px solid rgba(2, 181, 137, 1);
}

.wsaaral{
    background-color:rgba(255, 255, 255, 1);
     width:581px;
     height: 44px;
     top: 456px;
     left: 529px;
     font-family: 'Ubuntu', sans-serif;
     border-radius: 100px;
     border: 1px solid gray;
}
